<%= form_for(@pet_record) do |f| %>
  <% if @pet_record.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@pet_record.errors.count, "error") %> prohibited this pet_record from being saved:</h2>

      <ul>
      <% @pet_record.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :pet_type %><br>
    <%= f.text_field :pet_type %>
  </div>
  <div class="field">
    <%= f.label :breed %><br>
    <%= f.text_field :breed %>
  </div>
  <div class="field">
    <%= f.label :age %><br>
    <%= f.number_field :age %>
  </div>
  <div class="field">
    <%= f.label :weight %><br>
    <%= f.number_field :weight %>
  </div>
  <div class="field">
    <%= f.label :date_last_visit %><br>
    <%= f.text_field :date_last_visit %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
